@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  background-image: url("../../images/body_bg.png");
  font-family: "Oswald", sans-serif;
}
