.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(120deg, #fff, #000);
  padding-left: 150px;

  .navbar-home-link {
    text-decoration: none;
    color: black;
  }

  .navbar-title {
    font-family: "Lobster", cursive;
    font-size: 36px;
  }
}
