.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg, #fff, #000);

//   .pokemon-logo {
//     height: 180px;
//     width: 40px;
//     background: url("../../images/pokedex-logo.jpg");
//     background-size: cover;
//   }

  .navbar-home-link {
    text-decoration: none;
    color: black;
  }
}
