@import "./Global.scss";

.pokemon-link {
  text-decoration: none;
  color: $black;

  .single-pokemon {
    background-color: $main-color;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4em 2em;
    height: 500px;
    width: 450px;

    .pokemon-number {
      display: flex;
      width: stretch;
      width: -moz-available;
      margin: 0;
      padding-top: 15px;
      padding-right: 300px;
      border-radius: 10px;
      justify-content: center;
      padding-bottom: 15px;
      background: linear-gradient(120deg, $white, $black);
    }

    .pokemon-name {
      font-family: "Lobster", cursive;
      font-size: 40px;
    }

    .pokemon-image {
      height: 150px;
      width: 150px;
    }
  }
}

.single-pokemon:hover {
  box-shadow: 20px 20px 20px $black;
  cursor: pointer;
}

.single-pokemon:hover .pokemon-number {
  animation: flow 3s ease infinite;
  animation-direction: alternate;
  background-size: 300% 300%;
}

.single-pokemon:hover .pokemon-image {
  animation: jump 0.5s infinite;
  animation-direction: alternate;
}

@keyframes flow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes jump {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

@media (max-width: 1050px) {
  .pokemon-link {
    .single-pokemon {
      width: 350px;
    }
  }
}

@media (max-width: 850px) {
  .pokemon-link {
    .single-pokemon {
      width: 450px;
    }
  }
}

@media (max-width: 500px) {
  .pokemon-link {
    .single-pokemon {
      width: 390px;
    }
  }
}

@media (max-width: 440px) {
  .pokemon-link {
    .single-pokemon {
      width: 340px;
    }
  }
}

@media (max-width: 420px) {
  .pokemon-link {
    .single-pokemon {
      margin: 4em 0;
    }
  }
}

@media (max-width: 350px) {
  .pokemon-link {
    .single-pokemon {
      width: 310px;
    }
  }
}

@media (max-width: 320px) {
  .pokemon-link {
    .single-pokemon {
      width: 280px;
    }
  }
}

@media (max-width: 350px) {
  .pokemon-link {
    .single-pokemon {
      .pokemon-number {
        padding-right: 260px;
      }
    }
  }
}

@media (max-width: 320px) {
  .pokemon-link {
    .single-pokemon {
      .pokemon-number {
        padding-right: 240px;
      }
    }
  }
}
